# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Nick Gerakines <nick@gerakines.net> ngerakines <ngerakines@8b004bde-296b-455d-8143-5965b2d5282a>
Tomas (t0m) Doran <bobtfish@bobtfish.net> Tomas Doran
Tomas (t0m) Doran <bobtfish@bobtfish.net> t0m
Tomas (t0m) Doran <bobtfish@bobtfish.net> <tdoran@yelp.com>
